$mainColor: #f26b38;
$dotSize: 15px;
$second-color: #dddddd;

//dark mode

$main-color-dark: #31313a;
$second-color-dark: #25252c;
$text-color: #f0f0f0;
$second-text-color: #a2a29f;


$modal-z-index:4;